<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yirmio.lockaway">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <permission android:protectionLevel="signature"
        android:name="com.yirmio.lockaway.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.yirmio.lockaway.permission.C2D_MESSAGE" />



    <application
        android:name=".LockAwayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="i6hUPoLJOlkH8j0p4nB3q1r2x18Kbr2SHlKocuua" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="32VPtaO5T2Rg62uZWO3i9x4jr9mfxOKePlSL0rlW" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyADGp9H3qnhwsvVG-1Q82Zqjs5fMHoi56U" />

        <activity
            android:name=".UI.Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.Activities.SendOrderActivity"
            android:label="SendOrder" />
        <activity
            android:name=".UI.Activities.OrderStatusActivity"
            android:label="" />
        <activity android:name=".UI.Activities.LoginActivity" />
        <activity android:name=".UI.Activities.WelcomeActivity" />
        <activity android:name=".UI.util.UserStatusLauncher" />
        <activity android:name=".UI.Activities.MenuObjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activities.MainActivity" />
        </activity>
        <activity android:name=".UI.Activities.OrderBuilderActivity" />
        <activity android:name=".UI.Activities.UserOrdersActivity"></activity>


        <service android:name="com.parse.PushService" />
        <receiver android:name="com.yirmio.lockaway.UI.util.JSONCustomReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.yirmio.lockaway" />
            </intent-filter>
        </receiver>


    </application>

</manifest>